@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popUpContainer {
  min-width: 450px;
  min-height: fit-content;
}

.lineBreak {
  line-break: anywhere;
}

.outlineFocusInput:focus {
  @apply outline-none focus:outline-purple-primary outline-offset-1;
}
